body{
    background-color: #04f859;/* muda a cor do fundo */
    /*define o flexbox om layou da página*/
    display: flex;
    /*centralizar na horizontal*/
    justify-content:center;
    /*centralizar na vertical*/
    align-items:center;
    /*denifinir a altura da pagina*/
    height: 100vh;
    
}
/*o ponto referencia a um class*/
.cartao{
    /*cor de fundo*/
    background-color: rgb(255, 254, 254);
    /* espaçamento enterno*/
    padding: 50px;
    /*cantos arredondados*/
    border-radius: 10px;
    /*alinhamento do texto*/
    text-align: center;

    border: 3px solid black;
}
button{
    background-color: blue;
    /*cor do texto*/
    color: white;
    border-radius: 10px;
/* 10px é em cima e em baixo e 20px é na esqueda e direita*/
    padding: 10px 20px;
    
    cursor: pointer; /*muda o cursor para uma mãozinha quando passa por cima do botão*/
}
a{
    /*tira a decoração do link*/
    text-decoration: none;
    /*cor do link*/
    color: white;
}

.T{
    /*aumenta a letra texto*/
    font-size: 60px;
    /*muda a fonte*/
    font-family: italic , sans-serif;
}

.P{
    /*aumenta o afastamento do bottom(baixo)*/
    padding-bottom: 20px;
    /*muda a fonte*/
    font-family: italic , sans-serif;
}
/*quando o usuário passa o mouse sobre o botão*/
button:hover{
    /*muda a cor do fundo do botão*/
    background-color: rgb(42, 213, 236);
}

.imagem{
    /*define a largura da imagem*/
    width: 200px;
    /*define a altura da imagem*/
    height: 200px;
    /*deixa a imagem redonda*/
    border-radius: 50%;
    /*margem inferior para separar a imagem do texto*/
    margin-bottom: 20px;
    border: 2px solid rgb(23, 22, 22);
}   


